.busLayout{
    width: 50%;
}


/* BusSeatingComponent.module.css */
.busLayout {
    position: relative;
    width: 800px; /* Set the width you need */
}

.busLayoutBackground {
    width: 100%;
    height: 100%;
  }
  

.seat {
position: absolute;
    top: 150px; /* Adjust the position as needed */
    left: 50px; /* Adjust the position as needed */
    width: 36px; /* Set the width of the overlay image */
    height: 36px; /* Set the height of the overlay image */
}