
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cardHeader {
    font-size: 24px;
    margin-bottom: 20px;
}

.tripList {
    margin-top: 10px;
}

.accordionBody{
    background-color: #f3f7f8;
}
.buyButton {
    background-color: #fdb913; /* Set the button color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buyButton:hover {
    background-color: #f8b700; /* Hover color (similar to the button color) */
}