
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cardHeader {
    font-size: 24px;
    margin-bottom: 20px;
}

.tripList {
    margin-top: 10px;
}
